.buttonOm {
    border: none;
    color: white;
    background-color: #533875;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px; 
    position:absolute;
  }
  
  .buttonOm:hover {
    background-color: white; 
    color: #533875;
    border-style: solid ;
    border-color: #533875;
  }

  .om{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }

  .OmHeader{
    text-align: start;
    font-size: 40px;
    margin: 0px;
  } 
  
  .om .leftOm{
    text-align: start;
    margin: auto;
    padding: 1rem;
    max-width: 500px;
    padding-bottom: 4.5rem;
  }

  .om .leftOm p{
    margin:1.2rem 0;
    font-size: 20px;
  }

  .om .rightOm{
    max-width: 500px;
  }

  .rightOm .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
  }
  .rightOm .img{
    border-radius: 50px;
    max-height: 500px;
    border: 1px solid black;
    margin: 2rem 0;
    margin-top: 2rem;
  }

.skills1{
margin: auto;
padding-bottom: 2rem;
}


.skills1 h2{
  color: black;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 27px;
}




  .Tidslinjeoverskrift{
    text-align: center;
    
  }


  /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #533875;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containero {
  padding: 10px 20px -2px;
  position: relative;
  background-color: inherit;
  width: 50%;

}

/* Place the container to the left */
.left {
  left: 0; 
  text-align: end;
  margin-bottom: -2rem;
  padding-right: 20rem;
}

/* Place the container to the right */
.right {
  left: 50%;
  margin-bottom: -2rem;
}

/* The actual content */
.contentT {
  padding: 20px 20px 20px 20px;
  position: relative;
}

.experience__container{
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-bottom: 3rem;
}

.experience__container > div{
background-color: #dbd3e7;
padding: 2.4rem 4rem;
border-radius: 2rem;
border: 1px solid black;
}

.experience__container > div h3{
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.experience__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.experience__details{
  display: flex;
  gap:1rem;
}

.experience__details > div h4{
margin-bottom: -0.1rem;
}

.experience__details-icon{
  margin-top: 23px;
  margin-left: 10px;
}



@media screen and (max-width: 600px) {

  .om .rightOm{
    max-width: 400px;
  } 

  .om{
    align-items: center;
    justify-content: center;
  }

  .rightOm .img{
    margin: 4rem 0;
}

/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .containero {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
      padding: 20px 40px;
  }


/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .left {
    text-align: start;
  }

 .experience__container{
  gap: 1rem;
  max-width: 300px;
  margin-right: 12rem;
 }
 .experience__container > div{
  width:100%;
  padding: 2rem 1rem;
 
 }

}

